.forecast-item {
    display: inline-block;
    margin: 10px;
}
.table-forecast {
    margin-left : 80px;
}

.no-data-found{
    text-align: center;
    font-size: 13px;
    color: rgb(158, 158, 158);
}